doctype html
html(lang="en")
  head
    title titlePage
    link(rel="stylesheet" href="./styles.css")
  body
    header
      h1 Game
    .container
      .scoreboard
        .points1
        .points2
      canvas(width="600" height="600" moz-opaque)
        p sorry
      .content
        h2 Control system
        .player-control
          .info
          .keys-wrap
            .control--wrap
              .key(data-info="top") W
              .key(data-info="left") A
              .key(data-info="bottom") S
              .key(data-info="right") D
            .attak--wrap
              p attak keys
              .key(data-info="fire") G
              .key(data-info="") H

        .player-control
          .info
          .keys-wrap
            .control--wrap
              .key(data-info="top") &#8593;
              .key(data-info="left") &#8592;
              .key(data-info="bottom") &#8595;
              .key(data-info="right") &#8594;
            .attak--wrap
              p attak keys
              .key(data-info="fire") K
              .key(data-info="") J



  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="javascripts.js")
  //- script(src="js/bundle.js")
