doctype html
html(lang="en")
  head
    title titlePage
    link(rel="stylesheet" href="./styles.css")
  body
    .container
      h1 Game
      canvas(width="700" height="660")
        img(src="./images/emblem.jpg" id='img')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="javascripts.js")
  //- script(src="js/bundle.js")
