doctype html
html(lang="en")
  head
    title titlePage
    link(rel="stylesheet" href="./styles.css")
    link(href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet")
  body
    header
      h1 Game
    .container
      canvas(width="600" height="600" moz-opaque)
        <audio src="sounds/engine.wav" id='engine'></audio>
        <audio src="sounds/shot_2.mp3" id='shot'></audio>
        <audio src="sounds/explosion.wav" id='explosion'></audio>
        p sorry
      .content
        h2 Control system
        .player-control
          .info
          .keys-wrap
            .control--wrap
              .key(data-info="top") W
              .key(data-info="left") A
              .key(data-info="bottom") S
              .key(data-info="right") D
            .attak--wrap
              p attak keys
              .key(data-info="fire") G
              .key(data-info="") H

        .player-control
          .info
          .keys-wrap
            .control--wrap
              .key(data-info="top") &#8593;
              .key(data-info="left") &#8592;
              .key(data-info="bottom") &#8595;
              .key(data-info="right") &#8594;
            .attak--wrap
              p attak keys
              .key(data-info="fire") K
              .key(data-info="") J
    .settings-block
      .statistic
        p player 1
          .points1 0
        p player 2
          .points2 0
      .sound-control
      button.soundtrack music
      <audio id="soundtrack" class="play-sound" src="sounds/soundtrack_2.wav" autoplay loop></audio>



  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="javascripts.js")
  //- script(src="js/bundle.js")
