body {
  display: flex;
  flex-flow: column;
  background: #34495E;
  position: relative;
  margin: 0;
  min-height: 100vh; }

header {
  text-align: center;
  margin-bottom: 2em; }

canvas {
  background: #ddd;
  box-shadow: 0 0 10px 2px #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: none; }

.container {
  display: flex;
  flex: 1;
  flex-direction: row nowrap;
  justify-content: space-around;
  align-items: center; }

.content {
  display: flex;
  flex-flow: column;
  color: #95A5A6;
  align-items: center; }

.player-control {
  margin: 2em 0; }

.info {
  text-align: center;
  margin-bottom: 1em;
  text-transform: capitalize; }

.keys-wrap {
  display: flex;
  flex-flow: row; }
  .keys-wrap .key {
    display: inline-block;
    padding: 1em;
    margin: 0 .5em;
    -webkit-border: 1px solid #ddd;
    -moz-border: 1px solid #ddd;
    -ms-border: 1px solid #ddd;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    transition: all .2s;
    user-select: none; }
    .keys-wrap .key::after {
      content: "go " attr(data-info);
      display: none;
      position: absolute;
      width: 110px;
      height: 20px;
      padding: .5em;
      color: white;
      top: -40px;
      left: 0;
      background: #111;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      text-align: center; }
    .keys-wrap .key::before {
      position: absolute;
      top: -5px;
      left: 20px;
      content: '';
      display: none;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #111;
      border-bottom: 5px solid transparent; }
    .keys-wrap .key:hover {
      background: #2C3E50;
      box-shadow: 0 0 5px 0px white;
      color: #F2F1EF; }
      .keys-wrap .key:hover::after {
        display: block; }
      .keys-wrap .key:hover::before {
        display: block; }

.control--wrap {
  align-items: center; }
  .control--wrap .key:first-child {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 50px;
    box-sizing: border-box; }

.attak--wrap {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 2em; }

.settings-block {
  font-family: 'Amarante', Arial, cursive;
  position: absolute;
  display: flex;
  flex-flow: row;
  top: .5em;
  left: -7em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-left: 5px solid #00B0FF;
  transition: all .2s;
  padding: 1em 0 1em 1em; }
  .settings-block:hover {
    left: 0;
    box-shadow: 5px 0 10px #000; }
    .settings-block:hover .label {
      color: #00B0FF;
      opacity: 1;
      transform: rotate(-90deg);
      padding: 0;
      margin: 0; }
      .settings-block:hover .label h1 {
        padding: 0;
        margin: 0; }

.sounds-control {
  display: flex;
  flex-flow: column; }

.sound {
  padding: .5em .5em;
  font-size: 1.1em;
  text-transform: capitalize;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #446CB3;
  color: #E4F1FE;
  margin-top: 5px; }
  .sound:hover {
    background: #607D8B; }

.label {
  display: flex;
  align-self: center;
  margin-left: 1em;
  padding: 0 .5em;
  transition: transform .5s, opacity .2s;
  opacity: .6; }

footer {
  display: flex;
  flex-flow: row;
  justify-content: center; }
  footer .author {
    font-family: 'Amarante', "PT Sans", cursive;
    text-decoration: none;
    color: #ddd;
    padding: 1em;
    transition: border .2s;
    box-sizing: border-box; }
    footer .author:hover {
      border-top: 1px solid white; }
