
// variables
$color: #ddd
$main-color: blue
$margin: 10px
$padding: 5px

// mixins
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius
=border($width)
  -webkit-border: $width solid $color
  -moz-border:    $width solid $color
  -ms-border:     $width solid $color
  border:         $width solid $color


//styles
body
  display: flex
  flex-flow: column
  align-items: center
  color: #444
  background: grey
  position: relative
canvas
  background: $color
.container
  display: flex
  flex-direction: column
  align-items: center
